/* ********************************************* */
/* *         VARIABLES ROOT GLOBALES           * */
/* ********************************************* */
:root{
    --background: #0A192F;
    --background-card : #112240;
    --color-link : #64FFDA;
    --color-header : #CCD6F6;
    --color-text : #A2ADCC;
    --color-text-muted : #54617F;
    --padding-card : 8px;
    --padding-section : 1em;
    --border-radius : 5px;
    --border-green : 1px solid #64FFDA;
    --font-general : "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-link :"SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --transition-timer : .3s all ease;
    --shadow : 1px 0px 11px 0px rgba(17, 34, 64, 1);
}
/* ********************************************* */
/* *                  RESET CSS                * */
/* ********************************************* */
*,
::before,
::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-design{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: var(--border-radius);
    border : var(--border-green)
}
#image-design img{
    width: 100%;
    position: inherit;
    bottom: 15px;
    right: 15px;
    border-radius: var(--border-radius);
    filter: grayscale(100%);
    transition: var(--transition-timer)
}
#image-design img:hover{
    bottom: 0;
    right: 0;
    filter: none;
}