* {
	/* box-shadow: 0 0 0 1px red inset; */
}
/* ********************************************* */
/* *         VARIABLES ROOT GLOBALES           * */
/* ********************************************* */
:root {
	--background: #0a192f;
	--background-card: #112240;
	--color-link: #64ffda;
	--color-header: #ccd6f6;
	--color-text: #a2adcc;
	--color-text-muted: #54617f;
	--padding-card: 8px;
	--padding-section: 1em;
	--border-green: 1px solid #64ffda;
	--font-general: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
	--font-link: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
	--transition-timer: 0.3s all ease;
	--transition-timer-3: 1s all ease;
}
/* ********************************************* */
/* *                  RESET CSS                * */
/* ********************************************* */
::-webkit-scrollbar {
	width: 0;
}
*,
::before,
::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	width: 100%;
	min-height: 100vh;
	background-color: var(--background);
	display: flex;
	justify-content: center;
	align-items: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-family: var(--font-general);
	line-height: 2em;
}
a,
button {
	font-family: var(--font-link);
	cursor: default;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-header);
}
p {
	color: var(--color-text);
}
.before::before {
	content: "01.";
	font-family: "Roboto Mono";
	color: var(--color-link);
	margin-right: 10px;
}
.text-muted {
	color: var(--color-text-muted);
}
.highlight {
	color: var(--color-link);
}
a {
	color: var(--color-link);
	text-decoration: none;
	width: auto;
	position: relative;
}
a::before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 0;
	height: 1px;
	background-color: var(--color-link);
	transition: var(--transition-timer);
}
a:hover::before {
	width: 100%;
}
hr {
	border-color: var(--color-link);
}
button {
	width: 100px;
	height: 50px;
	border-radius: var(--border-radius);
	background-color: var(--background);
	border: var(--border-green);
	color: var(--color-link);
	transition: var(--transition-timer);
}
button:hover {
	background-color: var(--color-link);
	border: var(--background-card);
	color: var(--color-text);
}
.title {
	width: 80%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.title h1 {
	font-size: 3em;
}
.title p {
	text-align: justify;
}
#vertical-ico,
#vertical-mail {
	display: block;
}
/* ********************************************* */
/* *                CSS Menu-Aside             * */
/* ********************************************* */
/* ************************************* */
/* *            Bouton Burger          * */
/* ************************************* */
#btn-burger {
	z-index: 1001;
	display: block;
	position: fixed;
	top: 5px;
	left: 5px;
	width: 30px;
	height: 30px;
	padding: 1px;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: var(--background);
}
#btn-burger span {
	z-index: 3;
	width: 100%;
	height: 3px;
	border-radius: 5px;
	background-color: var(--color-link);
	transition: 0.3s all;
}
#btn-burger.active {
	background-color: var(--background-card);
}
#btn-burger.active span:nth-child(2) {
	display: none;
}
#btn-burger.active span:first-child {
	z-index: 3;
	background-color: var(--color-text);
	transform: translate(0px, 7px) rotate(40deg) scale(1.5);
}
#btn-burger.active span:last-child {
	z-index: 3;
	background-color: var(--color-text);
	transform: translate(0px, -7px) rotate(-40deg) scale(1.5);
}
/* ************************************* */
/* *                Aside              * */
/* ************************************* */
#aside-container {
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 400px;
	background-color: var(--background-card);
	backdrop-filter: blur(8px);
	transform: translateX(-400px);
	transition: var(--transition-timer);
}
#aside-container.active {
	transform: translateX(0px);
	transition: var(--transition-timer);
}
#aside-container #aside-menu {
	width: 100%;
	height: 100%;
	padding: var(--padding-section);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
}
#aside-container #aside-menu .aside-item {
	list-style-type: none;
	width: 100%;
	text-align: right;
}
#aside-container #aside-menu .aside-item a {
	color: var(--color-link);
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
	text-transform: capitalize;
	letter-spacing: 4px;
	letter-spacing: 8px;
	transition: var(--transition-timer);
}
/* ********************************************* */
/* *              	 CSS Accueil	           * */
/* ********************************************* */
body #vertical-ico {
	margin: auto;
	position: fixed;
	left: -10px;
	bottom: 135px;
	transform: rotate(-90deg);
	transition: var(--transition-timer-3);
}
#vertical-ico p::after {
	content: "";
	width: 200px;
	height: 1px;
	background-color: var(--color-link);
	position: absolute;
	bottom: 19px;
	left: 80px;
}
#vertical-ico p::before {
	content: "";
	width: 100px;
	height: 1px;
	background-color: var(--color-link);
	position: absolute;
	bottom: 19px;
	right: 80px;
	transition: var(--transition-timer-3);
}
body #vertical-mail {
	margin: auto;
	position: fixed;
	right: -65px;
	bottom: 135px;
	transform: rotate(90deg);
	transition: var(--transition-timer-3);
}
#vertical-mail p::after {
	content: "";
	width: 50px;
	height: 1px;
	background-color: var(--color-link);
	position: absolute;
	bottom: 13px;
	left: 180px;
	transition: var(--transition-timer-3);
}
#vertical-mail p::before {
	content: "";
	width: 150px;
	height: 1px;
	background-color: var(--color-link);
	position: absolute;
	bottom: 13px;
	right: 180px;
}

/* ********************************************* */
/* *              	   CSS Card		           * */
/* ********************************************* */
#list-projet {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2em;
	padding: var(--padding-section);
}
.card-container {
	max-width: 80%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.card-container .card-info {
	position: relative;
	padding: var(--padding-card) 0;
	z-index: 999;
	display: flex;
	flex-direction: column;
	filter: grayscale(80%);
	transition: var(--transition-timer);
}
.card-container .card-info .card-text {
	background-color: var(--background-card);
	border-radius: var(--border-radius);
	padding: var(--padding-card);
	line-height: normal;
	box-shadow: var(--shadow);
}
.card-container .card-info .card-text p {
	line-height: 1.5em;
	font-size: 1em;
}
.card-container .card-image {
	display: none;
}
.card-container .card-image img {
	position: relative;
	z-index: 0;
	width: 100%;
	filter: grayscale(80%);
	transition: var(--transition-timer);
	cursor: help;
}
.card-container:hover img,
.card-container:hover .card-info {
	filter: none;
}

.card-container:nth-child(odd) .card-text p {
	text-align: left;
}
.card-info:nth-child(even) {
	align-items: flex-end;
}
.card-container:nth-child(even) .card-text p {
	text-align: right;
}
.card-container .card-info .list-techno {
	display: flex;
	gap: 15px;
	font-size: 0.7em;
}
@media screen and (min-width: 768px) {
	#vertical-ico,
	#vertical-mail {
		display: block;
	}
	.card-container {
		flex-direction: row;
	}
	.card-container .card-image {
		display: block;
	}
	.card-info:nth-child(odd) {
		left: 25px;
	}
	.card-container:nth-child(odd) .card-text p {
		text-align: left;
	}
	.card-info:nth-child(even) {
		right: 25px;
		align-items: flex-end;
	}
}

@media screen and (min-width: 1200px) {
	body #vertical-mail {
		margin: auto;
		position: fixed;
		right: -65px;
		bottom: 235px;
		transform: rotate(90deg);
	}
	body #vertical-ico {
		margin: auto;
		position: fixed;
		left: -10px;
		bottom: 235px;
		transform: rotate(-90deg);
	}
	#vertical-ico p::before {
		content: "";
		width: 200px;
		height: 1px;
		background-color: var(--color-link);
		position: absolute;
		bottom: 19px;
		right: 80px;
	}
	#vertical-mail p::after {
		content: "";
		width: 150px;
		height: 1px;
		background-color: var(--color-link);
		position: absolute;
		bottom: 13px;
		left: 180px;
	}
}
