/* *{
	box-shadow: 0px 0px 2px 0px red inset;
} */
/* ********************************************* */
/* *         VARIABLES ROOT GLOBALES           * */
/* ********************************************* */
:root {
	--background: #0a192f;
	--background-card: #112240;
	--color-link: #64ffda;
	--color-green-hover: #64ffdb25;
	--color-header: #ccd6f6;
	--color-text: #a2adcc;
	--color-text-muted: #54617f;
	--padding-card: 8px;
	--padding-section: 1em;
	--border-green: 1px solid #64ffda;
	--border-radius: 8px;
	--font-general: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
	--font-link: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
	--transition-timer: 0.3s all ease;
	--transition-timer-1: 1s all ease;
	--shadow: 12px 10px 9px -4px rgb(0, 0, 0);
}
/* ********************************************* */
/* *                  RESET CSS                * */
/* ********************************************* */
::-webkit-scrollbar {
	width: 0;
}
html {
	scroll-behavior: smooth;
}
*,
::before,
::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
/* ********************************************* */
/* *                Design et charte           * */
/* ********************************************* */
body {
	width: 100%;
	min-height: 100vh;
	background-color: var(--background);
	display: flex;
	justify-content: center;
	align-items: center;
}
footer {
	width: 99%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	z-index: 5;
}
.copyright {
	font-size: 0.5em;
	z-index: 5;
}
embed{
	width: 100%;
	max-width: 800px;
}
section {
	display: flex;
	width: 80%;
	text-align: justify;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2em;
	padding: var(--padding-section);
}
section .header-ia {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
q{
	display: block;
	margin: 1em 0;
	width: 50%;
	text-align: center;
	align-self: flex-end;
}
main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
ul li {
	list-style-type: none;
	text-align: center;
	line-height: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-family: var(--font-general);
	line-height: 2em;
}
a,
button {
	font-family: var(--font-link);
	cursor: default;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-header);
	/* text-align: center; */
}
.wrap {
	font-size: 0.6em;
}
h2 {
	font-size: 18px;
}
.h-projet{
	font-size: 18px;
}
p {
	color: var(--color-text);
	line-height: 1.5em;
}
svg {
	color: var(--color-text);
	transition: var(--transition-timer);
}
svg:hover {
	color: var(--color-link);
}
.before::before {
	content: attr(num) ".";
	font-family: var(--font-link);
	color: var(--color-link);
	margin-right: 10px;
}
.text-muted {
	color: var(--color-text-muted);
}
.text-info {
	font-size: 0.7em;
	font-family: var(--font-link);
}
.highlight {
	color: var(--color-link);
}
.typewrite span {
	color: var(--color-header);
	animation: cursor 1s linear infinite;
}

@keyframes cursor {
	50% {
		border-right: 0px solid transparent;
	}
}
a {
	color: var(--color-link);
	text-decoration: none;
	width: auto;
	position: relative;
}
a::before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 0;
	height: 1px;
	background-color: var(--color-link);
	transition: var(--transition-timer);
}
a:hover::before {
	width: 100%;
}
.underline {
	position: relative;
}
.underline::before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: var(--color-link);
}
.f-letter::first-letter {
	font-size: 2em;
	letter-spacing: 5px;
	color: var(--color-link);
}
hr {
	width: 100%;
	border-color: var(--color-link);
}
.title {
	width: 80%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.title h1 {
	font-size: 3em;
}
.title p {
	text-align: justify;
}
#vertical-ico,
#vertical-mail {
	display: block;
}

.menu-top {
	z-index: 5;
	position: fixed;
	top: 0;
	padding: 15px 0;
	backdrop-filter: blur(5px);
}
button,
input[type="button"] {
	width: 80px;
	height: 50px;
	border-radius: var(--border-radius);
	font-family: var(--font-link);
	border-radius: var(--border-radius);
	background-color: var(--background);
	border: var(--border-green);
	color: var(--color-link);
	transition: var(--transition-timer);
}
button:hover,
input[type="button"]:hover {
	background-color: var(--color-green-hover);
	border: var(--background-card);
}
.btn-up {
	width: 50px !important;
	height: 50px;
	border-radius: 50%;
	position: fixed;
	bottom: 25px;
	right: 50px;
}

/* ********************************************* */
/* *                CSS Menu-Aside             * */
/* ********************************************* */
/* ************************************* */
/* *            Bouton Burger          * */
/* ************************************* */
#btn-burger {
	z-index: 1001;
	display: block;
	position: fixed;
	top: 5px;
	left: 5px;
	width: 30px;
	height: 30px;
	padding: 1px;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: var(--background);
}
#btn-burger span {
	z-index: 3;
	width: 100%;
	height: 3px;
	border-radius: 5px;
	background-color: var(--color-link);
	transition: 0.3s all;
}
#btn-burger.active {
	background-color: var(--background-card);
}
#btn-burger.active span:nth-child(2) {
	display: none;
}
#btn-burger.active span:first-child {
	z-index: 3;
	background-color: var(--color-text);
	transform: translate(0px, 7px) rotate(40deg) scale(1.5);
}
#btn-burger.active span:last-child {
	z-index: 3;
	background-color: var(--color-text);
	transform: translate(0px, -7px) rotate(-40deg) scale(1.5);
}
/* ************************************* */
/* *                Aside              * */
/* ************************************* */
#aside-container {
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	/* width: 100%; */
	background-color: var(--background-card);
	backdrop-filter: blur(8px);
	transform: translateX(-400px);
	transition: var(--transition-timer);
}
#aside-container.active {
	transform: translateX(0px);
	transition: var(--transition-timer);
	box-shadow: var(--shadow);
	backdrop-filter: blur(50%);
}
#aside-container #aside-menu {
	width: 100%;
	height: 100%;
	padding: var(--padding-section);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
}
#aside-container #aside-menu .aside-item {
	list-style-type: none;
	width: 100%;
	text-align: right;
}
#aside-container #aside-menu .aside-item a {
	color: var(--color-link);
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
	text-transform: capitalize;
	letter-spacing: 4px;
	letter-spacing: 8px;
	transition: var(--transition-timer);
}
/* ********************************************* */
/* *              	 CSS Accueil	           * */
/* ********************************************* */
body #vertical-ico {
	margin: auto;
	position: fixed;
	left: -20px;
	bottom: 135px;
	transform: rotate(-90deg);
	transition: var(--transition-timer-1);
}
#vertical-ico p::after {
	content: "";
	width: 50px;
	height: 1px;
	background-color: var(--color-link);
	position: absolute;
	bottom: 19px;
	left: 80px;
}
#vertical-ico p::before {
	content: "";
	width: 100px;
	height: 1px;
	background-color: var(--color-link);
	position: absolute;
	bottom: 19px;
	right: 80px;
	transition: var(--transition-timer-3);
}
body #vertical-mail {
	margin: auto;
	position: fixed;
	right: -80px;
	bottom: 105px;
	transform: rotate(90deg);
	transition: var(--transition-timer-1);
}
#vertical-mail p::after {
	content: "";
	width: 15px;
	height: 1px;
	background-color: var(--color-link);
	position: absolute;
	bottom: 13px;
	left: 190px;
	transition: var(--transition-timer-3);
}
#vertical-mail p::before {
	content: "";
	width: 25px;
	height: 1px;
	background-color: var(--color-link);
	position: absolute;
	bottom: 13px;
	right: 190px;
}
.progression {
	width: 100%;
}
.progression img {
	width: 100%;
}
/* ********************************************* */
/* *              	   CSS Card		           * */
/* ********************************************* */
#AP,
#projets {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2em;
}
.card-container {
	max-width: 80%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.card-container .card-info {
	position: relative;
	padding: var(--padding-card) 0;
	z-index: 999;
	display: flex;
	flex-direction: column;
	filter: grayscale(80%);
	transition: var(--transition-timer);
}
.card-container .card-info .card-text {
	background-color: var(--background-card);
	border-radius: var(--border-radius);
	padding: var(--padding-card);
	line-height: normal;
	box-shadow: var(--shadow);
}
.card-container .card-info .card-text p {
	line-height: 1.5em;
	font-size: 1em;
}
.card-container .card-image {
	display: none;
}
.card-container .card-image img {
	position: relative;
	z-index: 0;
	width: 100%;
	filter: hue-rotate(100deg) contrast(0.8) blur(2px);
	transition: var(--transition-timer);
	border-radius: var(--border-radius);
}
.card-container:hover img,
.card-container:hover .card-info {
	filter: none;
}
.card-container:nth-child(odd) .card-text p {
	text-align: left;
}
.card-info:nth-child(even) {
	align-items: flex-end;
}
.card-container:nth-child(even) .card-text p {
	text-align: right;
}
.card-container .card-info .list-techno {
	display: flex;
	gap: 15px;
	font-size: 0.7em;
	line-height: 20px;
}
/* ********************************************* */
/* *              	 CSS a propos		       * */
/* ********************************************* */
#list-info li p{
	line-height: 1.5em;
}
#image-design {
	position: relative;
	width: 180px;
	height: 180px;
	border-radius: var(--border-radius);
	border: var(--border-green);
}
#image-design img {
	width: 100%;
	position: inherit;
	bottom: 15px;
	right: 15px;
	border-radius: var(--border-radius);
	filter: grayscale(100%);
	transition: var(--transition-timer);
}
#image-design img:hover {
	bottom: 0;
	right: 0;
	filter: none;
}
/* ********************************************* */
/* *              	 	 RSS 			       * */
/* ********************************************* */
.info-ia{
	padding: 1em;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.info-ia ul{
	display: block;
	width: 100%;
	max-width: 400px;
	padding: 5px;
}
.info-ia ul li{
	text-align: left;
}
.feed-choice{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
}
.feed-choice div{
	width: 100%;
	height: 130px;
	max-width: 300px;
	border: var(--border-green);
	border-radius: var(--border-radius);
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	transition: var(--transition-timer-1)
}
.feed-choice div:hover{
	box-shadow: 0px 0px 5px 5px #64ffdb25;
	transform: scale(1.1);
}
.feed-choice div h3{
	font-size: 1em;
}
#pdf-container{
	display: none;
}
#pdf-container.active{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 1;
	transition: var(--transition-timer-3);
}
.veille{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
#veille-container {
	display: none;
	opacity: 0;
	transition: var(--transition-timer-3);
}
#veille-container.active {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 1;
	transition: var(--transition-timer);
}

#veille-container #article-container .article {
	width: 100%;
	max-width: 350px;
	background-color: var(--background-card);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow);
}
#veille-container #article-container {
	width: 100%;
	padding: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2em;
}

.header h1 {
	text-align: center;
}
.article-description {
	height: 150px;
	display: flex;
	align-items: center;
}
.article-title {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.article-title h2 {
	text-align: center;
}
.article-content {
	display: flex;
	flex-direction: column;
}
.article-view {
	padding: 1em;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: center;
	justify-content: space-between;
}
.article-view img {
	width: 100%;
	border-radius: var(--border-radius);
	box-shadow: var(--shadow);
}
.article-view a {
	text-align: center;
}
.article-text {
	padding: 1em;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.article-text .article-description p:first-child {
	text-align: justify;
	line-height: 1.4em;
}
.article-text .article-tag {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 10px;
}
.article-text .article-tag p {
	font-size: 0.7em;
	text-align: left;
}
.article-text .article-tag p::before {
	content: "#";
	color: var(--color-header);
}
.article-text p:last-child {
	text-align: right;
}

/* ********************************* */
/* * 		@Media queries		   * */
/* ********************************* */
@media screen and (min-width: 768px) {
	.feed-choice{
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 3em;
	}
	.feed-choice div{
		flex-direction: column;
		justify-content: space-between;
	}
	.progression {
		width: 100%;
		max-width: 650px;
	}
	.progression img {
		width: 100%;
	}
	#image-design {
		position: relative;
		width: 200px;
		height: 200px;
		border-radius: var(--border-radius);
		border: var(--border-green);
	}
	#image-design img {
		width: 100%;
		position: inherit;
		bottom: 15px;
		right: 15px;
		border-radius: var(--border-radius);
		filter: grayscale(100%);
		transition: var(--transition-timer);
	}
	.wrap {
		font-size: 1em;
	}
	h2 {
		font-size: 2em;
	}
	#a-propos {
		display: flex;
		flex-direction: row;
	}
	.btn-container {
		display: block;
		width: 80%;
		display: flex;
		justify-content: space-around;
	}
	#vertical-ico,
	#vertical-mail {
		display: block;
	}
	.card-container {
		flex-direction: row;
	}
	.card-container .card-image {
		display: block;
	}
	.card-info:nth-child(odd) {
		left: 25px;
	}
	.card-container:nth-child(odd) .card-text p {
		text-align: left;
	}
	.card-info:nth-child(even) {
		right: 25px;
		align-items: flex-end;
	}
	#veille-container{
		width: 100%;
		align-items: flex-start;
	}
	#veille-container #article-container .article {
		max-width: 600px;
		background-color: var(--background-card);
		border-radius: var(--border-radius);
		box-shadow: var(--shadow);
	}
	#veille-container #article-container {
		width: 100%;
		padding: 1em;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 2em;
	}
	.article-content {
		flex-direction: row;
	}

}
@media screen and (min-width: 1200px) {
	
	body #vertical-mail {
		margin: auto;
		position: fixed;
		right: -70px;
		bottom: 235px;
		transform: rotate(90deg);
	}
	body #vertical-ico {
		margin: auto;
		position: fixed;
		left: -20px;
		bottom: 235px;
		transform: rotate(-90deg);
	}
	#vertical-ico p::before {
		content: "";
		width: 200px;
		height: 1px;
		background-color: var(--color-link);
		position: absolute;
		bottom: 19px;
		right: 80px;
	}
	#vertical-mail p::after {
		content: "";
		width: 150px;
		height: 1px;
		background-color: var(--color-link);
		position: absolute;
		bottom: 13px;
		left: 190px;
	}
}
